POST
{
    "name": "Tim Hortons",
    "street_address": "120 Adelaide St W Unit Fc-09, Toronto",
    "province": "Ontario",
    "phone_number": "6473505543",
    "website": "https://www.timhortons.ca/"
  }

  name, street_address, province, country, phone_number, website

PUT
{
    "id": 1388,
    "name": "Tim Hortons",
    "street_address": "120 Adelaide St W Unit Fc-09, Toronto",
    "province": "Ontario",
    "phone_number": "6473505543",
    "website": "https://www.timhortons.ca/"
  }